{% extends 'base.html' %}
{% block content %}
{% include 'navbar.html' %}


<div class="max-w-7xl bg-white mx-auto my-12 mt-0 py-10 flex text-center justify-center rounded-2xl">
    <div class="text-3xl font-bold text-red-800">
        <h1>Discover</h1>
    </div>
</div>
<div class="max-w-7xl bg-white mx-auto my-12 mt-0 py-10 rounded-2xl px-4">
    {% if not product_list %}
    <div class="min-h-screen w-full">
        <p>There are currently no products in stock.</p>
    </div>


    {% else %}
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        {% for product in product_list %}
        {% include 'productcard.html' with product=product %}
        {% endfor %}
    </div>


    {% endif %}
</div>
    




{% endblock content %}